.projects-main {
    animation: projects-animation 1s; 
}

.projects-nav {
    animation: projects-animation 1s;
}

.projectsMainHidden {
    display: none;
}

.projectsNavHidden {
    display: none;
}

@keyframes projects-animation {
    from { opacity: 0; }
    to { opacity: 1; }
}